{{left_sidebar_enabled=False}}

{{extend 'layout.html'}}

<div class="col-md-12">
    <h3>
      {{=T("Años Académicos")}}
      <span class="pull-right">{{=C.crear_link}}</a>
    </h3>
    {{for a in C.anos:}}
      {{cid = "{}{}".format('ano', a.id)}}
      <div class="col-md-6">
        {{=LOAD(url=URL('ano', 'show.load', args=[a.id]), user_signature=True, target=cid)}}
      </div>
    {{pass}}

    <!-- <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{=T("Años Académicos")}}
            </h3>
        </div>
        <div class="panel-body fix-panel">
            <div class="row">
                <div class="col-md-2">
                    {{=C.crear_link}}
                </div>
            </div>
            <div class="row">
            {{for a in C.anos:}}
                <div class="col-md-2">
                    <div class="btn-group">
                      <button type="button" class="btn btn-{{='primary' if a.nombre == C.actual else 'default'}}">{{=a.nombre}}</button>
                      <button type="button" class="btn btn-{{='primary' if a.nombre == C.actual else 'default'}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        {{=C.enlaces(a)}}
                      </ul>
                    </div>
                </div>
            {{pass}}
            </div>
        </div>
    </div> -->

</div>
