{{left_sidebar_enabled=True}}
{{right_sidebar_enabled=False}}

{{extend 'layout.html'}}

{{block center}}
{{include}}
{{end}}

{{block left_sidebar}}
<ul class="nav nav-pills nav-stacked">
    <li class="nav-header">{{=T('Teachers management')}}</li>
    <!-- teacher actions -->
    <li class="divider"></li>
    <li class="{{='active' if request.function == 'teacher_add' else ''}}">
        <a href="{{=URL('teacher_add')}}">{{=T("Add teachers")}}</a>
    </li>
    <li class="{{='active' if request.function == 'teacher_list' else ''}}">
        <a href="{{=URL('teacher_list')}}">{{=T("List teachers")}}</a>
    </li>
    <li class="{{='active' if request.function == 'teacher_assign_course' else ''}}">
        <a href="{{=URL('teacher_assign_course')}}">{{=T("Assign course")}}</a>
    </li>
</ul>
{{end}}
