{{left_sidebar_enabled=True}}

{{extend 'layout.html'}}

<div class="col-md-12">  
    <!-- unidades orgánicas -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{=T('Unidades Orgánicas')}}</h3>
                </div>
                <div class="panel-body">
                    {{=C.unidades}}
                </div>
            </div>
        </div>
    </div>
</div>