{{left_sidebar_enabled=True}}
{{from applications.agis.modules.db import profesor}}

{{extend 'layout.html'}}

<div class="row">
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-xs" data-container="body"
                    data-toggle="popover" data-placement="bottom"
                    data-content="{{=reduce(lambda x,y: x + ' ({0}){1}'.format(y[0],y[1]), profesor.PROFESOR_VINCULO_VALUES.iteritems(), '')}}">
                {{=T('Vinculo')}}
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-xs" data-container="body"
                    data-toggle="popover" data-placement="bottom"
                    data-content="{{=reduce(lambda x,y: x + ' ({0}){1}'.format(y[0], y[1]), profesor.PROFESOR_CATEGORIA_VALUES.iteritems(), '')}}">
                {{=T('Categoría')}}
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-xs" data-container="body"
                    data-toggle="popover" data-placement="bottom"
                    data-content="{{=reduce(lambda x,y: x + ' ({0}){1}'.format(y[0], y[1]), profesor.PROFESOR_GRADO_VALUES.iteritems(), '')}}">
                {{=T('Grado')}}
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </button>
            </div>
        </div>
    </div>

        {{=manejo}}

</div>
</div>

<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
