{{left_sidebar_enabled=True}}
{{from applications.agis.modules.gui.profesor import leyenda_profesor}}

{{extend 'layout.html'}}

<div class="row">
<div class="col-md-12">
    {{=leyenda_profesor()}}

    {{=manejo}}

    {{if 'view' in request.args:}}
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{=T('Asignaciones')}}</h3>
        </div>
        <div class="panel-body">
            {{=LOAD('profesorado', 'asignaciones.load', vars=dict(profesor_id=profesor.id), ajax=True)}}
        </div>
        </div>
    {{pass}}

</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        ...
    </div>
  </div>
</div>

<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
