{{left_sidebar_enabled=True}}
{{from applications.agis.modules.db import profesor as profesor_module}}

{{extend 'layout.html'}}

<div class="row">
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-xs" data-container="body"
                    data-toggle="popover" data-placement="bottom"
                    data-content="{{=reduce(lambda x,y: x + ' ({0}){1}'.format(y[0],y[1]), profesor_module.PROFESOR_VINCULO_VALUES.iteritems(), '')}}">
                {{=T('Vinculo')}}
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-xs" data-container="body"
                    data-toggle="popover" data-placement="bottom"
                    data-content="{{=reduce(lambda x,y: x + ' ({0}){1}'.format(y[0], y[1]), profesor_module.PROFESOR_CATEGORIA_VALUES.iteritems(), '')}}">
                {{=T('Categoría')}}
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-xs" data-container="body"
                    data-toggle="popover" data-placement="bottom"
                    data-content="{{=reduce(lambda x,y: x + ' ({0}){1}'.format(y[0], y[1]), profesor_module.PROFESOR_GRADO_VALUES.iteritems(), '')}}">
                {{=T('Grado')}}
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </button>
            </div>
        </div>
    </div>

    {{=manejo}}

    {{if 'view' in request.args:}}
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{=T('Asignaciones')}}</h3>
        </div>
        <div class="panel-body">
            {{=LOAD('profesorado', 'asignaciones.load', vars=dict(profesor_id=profesor.id), ajax=True)}}
        </div>
        </div>
    {{pass}}

</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        ...
    </div>
  </div>
</div>

<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
