<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{=response.title}}</h4>
</div>
<div class="modal-body">
    <!-- Cargar aquí la vista por ajax -->
    <div class="container-fluid">
        <script type="text/javascript"><!--
        web2py_component("{{=manejo}}","c282718984176")
        //--></script><div id="c282718984176" class="col-md-12">loading...</div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">
        {{=T('Cerrar')}}
    </button>
</div>
