{{left_sidebar_enabled=True}}
{{right_sidebar_enabled=False}}

{{extend 'layout.html'}}

{{block center}}
{{include}}
{{end}}

{{block left_sidebar}}

<ul class="nav nav-list agis-sidenav">
<!--     <li class="nav-header">{{=T('Educational Organization')}}</li> -->
    <li class="{{='active' if request.function == 'configurar_escuela' else ''}}">
        <a href="{{=URL('manage_institute', 'configurar_escuela')}}">
            <i class="icon-chevron-right"></i>
            {{=T('Configurar escuela')}}
        </a>
    </li>
    <li class="{{='active' if request.function == 'manage_OU' else ''}}">
        <a href="{{=URL('manage_institute', 'manage_OU')}}">
            <i class="icon-chevron-right"></i>
            {{=T('Organic unit (OU)')}}
        </a>
    </li>
    <li class="{{='active' if request.function == 'manage_career' else ''}}">
        <a href="{{=URL('manage_institute', 'manage_career')}}">
            <i class="icon-chevron-right"></i>
            {{=T('Careers')}}
        </a>
    </li>
    <li class="{{='active' if request.function == 'manage_ou_regime' else ''}}">
        <a href="{{=URL('manage_institute', 'manage_ou_regime')}}">
            <i class="icon-chevron-right"></i>
            {{=T('OU regimes')}}
        </a>
    </li>
    <li class="{{='active' if request.function == 'manage_academic_year' else ''}}">
        <a href="{{=URL('manage_institute', 'manage_academic_year')}}">
            <i class="icon-chevron-right"></i>
            {{=T('Academic years')}}
        </a>
    </li>
    <li class="{{='active' if request.function == 'manage_course' else ''}}">
        <a href="{{=URL('manage_course')}}">
            <i class="icon-chevron-right"></i>
            {{=T('Courses')}}
        </a>
    </li>
    <li class="{{='active' if request.function == 'manage_gsa_spaces' else ''}}">
        <a href="{{=URL('manage_gsa_spaces')}}">
            <i class="icon-chevron-right"></i>
            {{=T('Granted student spaces')}}
        </a>
    </li>
    <li class="{{='active' if request.function == 'academic_plan' else ''}}">
        <a href="{{=URL('academic_plan')}}">
            <i class="icon-chevron-right"></i>
            {{=T('Academic plans')}}
        </a>
    </li>
    <li class="{{='active' if request.function == 'academic_level' else ''}}">
        <a href="{{=URL('academic_level')}}">
            <i class="icon-chevron-right"></i>
            {{=T('Academic level')}}
        </a>
    </li>
    <li class="{{='active' if request.function == 'manage_department' else ''}}">
        <a href="{{=URL('manage_institute', 'manage_department')}}">
            <i class="icon-chevron-right"></i>
            {{=T('Departments')}}
        </a>
    </li>
    <li class="{{='active' if request.function == 'manage_student_group' else ''}}">
        <a href="{{=URL('manage_student_group')}}">
            <i class="icon-chevron-right"></i>
            {{=T('Student groups')}}
        </a>
    </li>
    <li class="{{='active' if request.function == 'manage_ou_event' else ''}}">
        <a href="{{=URL('manage_ou_event')}}">
            <i class="icon-chevron-right"></i>
            {{=T('Events')}}
        </a>
    </li>
<!--     <li class="nav-header">{{=T('Infraestructure')}}</li> -->
    <li class="{{='active' if request.function == 'manage_campus' else ''}}">
        <a href="{{=URL('manage_institute', 'manage_campus')}}">
            <i class="icon-chevron-right"></i>
            {{=T('Campus')}}
        </a>
    </li>
    <li class="{{='active' if request.function == 'manage_building' else ''}}">
        <a href="{{=URL('manage_institute', 'manage_building')}}">
            <i class="icon-chevron-right"></i>
            {{=T('Buildings')}}
        </a>
    </li>
    <li class="{{='active' if request.function == 'manage_classroom' else ''}}">
        <a href="{{=URL('manage_institute', 'manage_classroom')}}">
            <i class="icon-chevron-right"></i>
            {{=T('Classrooms')}}
        </a>
    </li>
</ul>

{{end}}
