{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="badge">1</span> {{=T("Seleccione una UO para editar sus regímenes")}}</h3>
            </div>
            <div class="panel-body">
                {{=select_uo}}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="badge">2</span> {{=T("Agregue o quite regímenes de la UO")}}</h3>
            </div>
            <div class="panel-body">
                {{=manejo}}
            </div>
        </div>

    </div>
</div>
