{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="badge">1</span> {{=T("Seleccione una UO para asignar/quitar carreras")}}</h3>
            </div>
            <div class="panel-body">
                {{=select_uo}}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="badge">2</span> {{=T("Agregue o quite carreras de la UO")}}</h3>
            </div>
            <div class="panel-body">
                {{=manejo}}
            </div>
        </div>

    </div>
</div>


<!--<div class="span12">
    <p>
        <div class="well well-small">
            <span class="badge badge-info">1</span>
            {{=T("Seleccione una UO para asignar/quitar carreras")}}:
            <hr />
            <p>{{=select_uo}}</p>
        </div>
    </p>
    <div class="well well-small">
        <span class="badge badge-info">2</span>
        {{=T("Agregue o quite carreras de la UO")}}:
        <hr />
        {{=manejo}}
    </div>
</div>-->
