{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}

{{from agiscore.db import nivel_academico}}


<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading"><span class="badge">1</span> {{=T("Seleccione una UO para editar niveles académicos")}}</div>
            <div class="panel-body">{{=select_uo}}</div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><span class="badge">2</span> {{=T("Seleccione los niveles académicos y precione guardar")}}</div>
            <div class="panel-body">
                {{=manejo.custom.begin}}
                        {{for n in range(8):}}
                        <div class="col-md-1">
                            {{if n in niveles:}}
                                    <input type="checkbox" name="niveles" checked value={{=n}}>
                            {{else:}}
                                    <input type="checkbox" name="niveles" value={{=n}}>
                            {{pass}}
                            <p>{{=nivel_academico.nivel_represent(n, None)}}</p>
                        </div>
                        {{pass}}
                <div class="col-md-1">
                    {{=manejo.custom.submit}}
                </div>
                {{=manejo.custom.end}}
            </div>
        </div>

    </div>
</div>

