{{left_sidebar_enabled=True}}
{{right_sidebar_enabled=False}}

{{extend 'layout.html'}}



{{block center}}
{{include}}
{{end}}

{{block left_sidebar}}
<div class="row">
<!--
<div class='well'>
-->
<ul class="nav nav-pills nav-stacked">
    <li class="nav-header">{{=T("Configuration")}}</li>
    <li class="{{='active' if request.function in ['payment_concept'] else ''}}">
        <a href="{{=URL('payment_concept')}}">{{=T('Payment concepts')}}</a>
    </li>
    <li class="nav-header">{{=T("Payments")}}</li>
    <li class="dropdown {{='active' if request.function in ['payments','add_bank_payment'] else ''}}">
        <a class="dropdown-toggle" href="#">
            {{=T("Payments")}}
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="{{=URL('accounting','payments')}}">
                    {{=T("General list")}}
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="{{=URL('add_bank_payment')}}">{{=T("Add bank payment")}}</a>
            </li>
            <li>
                <a href="{{=URL('add_payment_credit')}}">{{=T("Add credit card payment")}}</a>
            </li>
            <li>
                <a href="{{=URL('add_payment_cash')}}">{{=T("Add cash payment")}}</a>
            </li>
        </ul>
    </li>
</ul>
<!--
</div>
-->
</div>
{{end}}
