{{extend 'candidates/layout.html'}}

{{=form.custom.begin}}
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Personal info</a></li>
            <li><a href="#tab2" data-toggle="tab">Candidature info</a></li>
        </ul>
        
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <!--  Person data -->
                <fieldset>
                    <legend>{{=T('Personal info')}}</legend>
                        <div class="row">
                            <div class='span3'> <!-- name -->
                                {{cls = 'error' if form.errors.name else ''}}
                                <div class='control-group {{=cls}}' id='no_table_name__row'>
                                    <label for='no_table_name' class='control-label'>
                                        {{=form.custom.label.name}}
                                    </label>
                                    <div class='controls'>
                                        {{=form.custom.widget.name}}
                                    </div>
                                </div>
                            </div>
        
                            <div class='span3'> <!--first_name -->
                                {{cls = 'error' if form.errors.first_name else ''}}
                                <div class='control-group {{=cls}}' id='no_table_first_name__row'>
                                    <label for='no_table_first_name' class='control-label'>
                                        {{=form.custom.label.first_name}}
                                    </label>
                                    <div class='controls'>
                                        {{=form.custom.widget.first_name}}
                                    </div>
                                </div>
                            </div>
        
                            <div class='span3'> <!--last_name -->
                                {{cls = 'error' if form.errors.last_name else ''}}
                                <div class='control-group {{=cls}}' id='no_table_last_name__row'>
                                    <label for='no_table_last_name' class='control-label'>
                                        {{=form.custom.label.last_name}}
                                    </label>
                                    <div class='controls'>
                                        {{=form.custom.widget.last_name}}
                                    </div>
                                </div>
                            </div>
                        </div> <!-- name row -->
        
                        <div class="row"> <!-- birth place and date -->
                            <div class="span4"> <!-- birth date -->
                                {{cls = 'error' if form.errors.date_of_birth else ''}}
                                <div class='control-group {{=cls}}' id='no_table_date_of_birth__row'>
                                    <label for='no_table_date_of_birth' class='control-label'>
                                        {{=form.custom.label.date_of_birth}}
                                    </label>
                                    <div class='controls'>
                                        {{=form.custom.widget.date_of_birth}}
                                    </div>
                                </div>
                            </div>
                            <div class="span5"> <!-- birth place -->
                                {{cls = 'error' if form.errors.place_of_birth else ''}}
                                <div class='control-group {{=cls}}' id='no_table_place_of_birth__row'>
                                    <label for='no_table_place_of_birth' class='control-label'>
                                        {{=form.custom.label.place_of_birth}}
                                    </label>
                                    <div class='controls'>
                                        {{=form.custom.widget.place_of_birth}}
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="row"> <!-- gender, marital_status and political_status-->
                            <div class="span3"> <!--gender -->
                                {{cls = 'error' if form.errors.gender else ''}}
                                <div class='control-group {{=cls}}' id='no_table_gender__row'>
                                    <label for='no_table_gender' class='control-label'>
                                        {{=form.custom.label.gender}}
                                    </label>
                                    <div class='controls'>
                                        {{=form.custom.widget.gender}}
                                    </div>
                                </div>
                            </div>
                            <div class="span3"> <!-- marital_status -->
                                {{cls = 'error' if form.errors.marital_status else ''}}
                                <div class='control-group {{=cls}}' id='no_table_marital_status__row'>
                                    <label for='no_table_marital_status' class='control-label'>
                                        {{=form.custom.label.marital_status}}
                                    </label>
                                    <div class='controls'>
                                        {{=form.custom.widget.marital_status}}
                                    </div>
                                </div>
                            </div>
                            <div class="span3"> <!-- political_status -->
                                {{cls = 'error' if form.errors.political_status else ''}}
                                <div class='control-group {{=cls}}' id='no_table_political_status__row'>
                                    <label for='no_table_political_status' class='control-label'>
                                        {{=form.custom.label.political_status}}
                                    </label>
                                    <div class='controls'>
                                        {{=form.custom.widget.political_status}}
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="span4"> <!-- identity_type -->
                                {{cls = 'error' if form.errors.identity_type else ''}}
                                <div class='control-group {{=cls}}' id='no_table_identity_type__row'>
                                    <label for='no_table_identity_type' class='control-label'>
                                        {{=form.custom.label.identity_type}}
                                    </label>
                                    <div class='controls'>
                                        {{=form.custom.widget.identity_type}}
                                    </div>
                                </div>
                            </div>
                            <div class="span5"> <!--  identity_number -->
                                {{cls = 'error' if form.errors.identity_number else ''}}
                                <div class='control-group {{=cls}}' id='no_table_identity_number__row'>
                                    <label for='no_table_identity_number' class='control-label'>
                                        {{=form.custom.label.identity_number}}
                                    </label>
                                    <div class='controls'>
                                        {{=form.custom.widget.identity_number}}
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="span3"> <!-- father_name -->
                                {{cls = 'error' if form.errors.father_name else ''}}
                                <div class='control-group {{=cls}}' id='no_table_father_name__row'>
                                    <label for='no_table_father_name' class='control-label'>
                                        {{=form.custom.label.father_name}}
                                    </label>
                                    <div class='controls'>
                                        {{=form.custom.widget.father_name}}
                                    </div>
                                </div>
                            </div>
                            <div class="span3"> <!-- mother_name -->
                                {{cls = 'error' if form.errors.mother_name else ''}}
                                <div class='control-group {{=cls}}' id='no_table_mother_name__row'>
                                    <label for='no_table_mother_name' class='control-label'>
                                        {{=form.custom.label.mother_name}}
                                    </label>
                                    <div class='controls'>
                                        {{=form.custom.widget.mother_name}}
                                    </div>
                                </div>
                            </div>
                            <div class="span3"> <!-- nationality -->
                                {{cls = 'error' if form.errors.nationality else ''}}
                                <div class='control-group {{=cls}}' id='no_table_nationality__row'>
                                    <label for='no_table_nationality' class='control-label'>
                                        {{=form.custom.label.nationality}}
                                    </label>
                                    <div class='controls'>
                                        {{=form.custom.widget.nationality}}
                                    </div>
                                </div>
                            </div>
                        </div>
                </fieldset>
                <fieldset>
                    <legend>{{=T('Contact data')}}</legend>
                    <div class="row"> <!-- commune and municipality -->
                            <div class="span3"> <!--  municipality -->
                                {{cls = 'error' if form.errors.municipality else ''}}
                                <div class='control-group {{=cls}}' id='no_table_municipality__row'>
                                    <label for='no_table_municipality' class='control-label'>
                                        {{=form.custom.label.municipality}}
                                    </label>
                                    <div class='controls'>
                                        {{=form.custom.widget.municipality}}
                                    </div>
                                </div>
                            </div>
                            <div class="span3"> <!-- commune -->
                                {{cls = 'error' if form.errors.commune else ''}}
                                <div class='control-group {{=cls}}' id='no_table_commune__row'>
                                    <label for='no_table_commune' class='control-label'>
                                        {{=form.custom.label.commune}}
                                    </label>
                                    <div class='controls'>
                                        {{=form.custom.widget.commune}}
                                    </div>
                                </div>
                            </div>
                            <div class="span3"> <!-- email -->
                                {{cls = 'error' if form.errors.email else ''}}
                                <div class='control-group {{=cls}}' id='no_table_email__row'>
                                    <label for='no_table_email' class='control-label'>
                                        {{=form.custom.label.email}}
                                    </label>
                                    <div class='controls'>
                                        {{=form.custom.widget.email}}
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="row"> <!-- address -->
                        <div class="span9">
                            {{cls = 'error' if form.errors.address else ''}}
                            <div class='control-group {{=cls}}' id='no_table_address__row'>
                                <label for='no_table_address' class='control-label'>
                                    {{=form.custom.label.address}}
                                </label>
                                <div class='controls'>
                                    {{=form.custom.widget.address}}
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>


            <div class="tab-pane" id="tab2">
                <!-- candidate data -->
                <fieldset>
                    <legend>{{=T('Professional information')}}</legend>
                    <div class="row">
                        <div class="span3">
                            <div class='control-group'>
                                <div class='controls'>
                                    <label class="checkbox">
                                    {{=form.custom.widget.is_worker}}
                                    {{=form.custom.label.is_worker}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="span3"> <!-- work_name -->
                            {{cls = 'error' if form.errors.work_name else ''}}
                            <div class='control-group {{=cls}}' id='no_table_work_name__row'>
                                <label for='no_table_work_name' class='control-label'>
                                    {{=form.custom.label.work_name}}
                                </label>
                                <div class='controls'>
                                    {{=form.custom.widget.work_name}}
                                </div>
                            </div>
                        </div>
                        <div class="span3"> <!-- profession_name -->
                            {{cls = 'error' if form.errors.profession_name else ''}}
                            <div class='control-group {{=cls}}' id='no_table_profession_name__row'>
                                <label for='no_table_profession_name' class='control-label'>
                                    {{=form.custom.label.profession_name}}
                                </label>
                                <div class='controls'>
                                    {{=form.custom.widget.profession_name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>{{=T("Previous education")}}</legend>
                    <div class="row">
                        <div class="span3"> <!-- educational_attainment -->
                            {{cls = 'error' if form.errors.educational_attainment else ''}}
                            <div class='control-group {{=cls}}' id='no_table_educational_attainment__row'>
                                <label for='no_table_educational_attainment' class='control-label'>
                                    {{=form.custom.label.educational_attainment}}
                                </label>
                                <div class='controls'>
                                    {{=form.custom.widget.educational_attainment}}
                                    <span class='help-block'>
                                        {{=db.candidate_debt.educational_attainment.comment}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="span4"> <!-- previous_school -->
                            {{cls = 'error' if form.errors.previous_school else ''}}
                            <div class='control-group {{=cls}}' id='no_table_previous_school__row'>
                                <label for='no_table_previous_school' class='control-label'>
                                    {{=form.custom.label.previous_school}}
                                </label>
                                <div class='controls'>
                                    {{=form.custom.widget.previous_school}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span2"> <!-- graduation_year -->
                            {{cls = 'error' if form.errors.graduation_year else ''}}
                            <div class='control-group {{=cls}}' id='no_table_graduation_year__row'>
                                <label for='no_table_graduation_year' class='control-label'>
                                    {{=form.custom.label.graduation_year}}
                                </label>
                                <div class='controls'>
                                    {{=form.custom.widget.graduation_year}}
                                </div>
                            </div>
                        </div>
                        <div class="span5"> <!-- graduation_year -->
                            {{cls = 'error' if form.errors.previous_career else ''}}
                            <div class='control-group {{=cls}}' id='no_table_previous_career__row'>
                                <label for='no_table_previous_career' class='control-label'>
                                    {{=form.custom.label.previous_career}}
                                </label>
                                <div class='controls'>
                                    {{=form.custom.widget.previous_career}}
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>{{=T("Institutional")}}</legend>
                    <div class="row">
                        <div class="span5"> <!-- organic_unit -->
                            {{cls = 'error' if form.errors.organic_unit else ''}}
                            <div class='control-group {{=cls}}' id='no_table_organic_unit__row'>
                                <label for='no_table_organic_unit' class='control-label'>
                                    {{=form.custom.label.organic_unit}}
                                </label>
                                <div class='controls'>
                                    {{=form.custom.widget.organic_unit}}
                                </div>
                            </div>
                        </div>
                        <div class="span4"> <!-- regime -->
                            {{cls = 'error' if form.errors.regime else ''}}
                            <div class='control-group {{=cls}}' id='no_table_regime__row'>
                                <label for='no_table_regime' class='control-label'>
                                    {{=form.custom.label.regime}}
                                </label>
                                <div class='controls'>
                                    {{=form.custom.widget.regime}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4"> <!-- special_education -->
                            {{cls = 'error' if form.errors.special_education else ''}}
                            <div class='control-group {{=cls}}' id='no_special_education__row'>
                                <label for='no_table_special_education' class='control-label'>
                                    {{=form.custom.label.special_education}}
                                </label>
                                <div class='controls'>
                                    {{=form.custom.widget.special_education}}
                                    {{if db.candidate_debt.special_education.comment:}}
                                    <span class='help-block'>
                                        {{=db.candidate_debt.special_education.comment}}
                                    </span>
                                    {{pass}}
                                </div>
                            </div>
                        </div>
                        <div class="span1">&ensp;</div>
                        <div class="span4"> <!-- documents -->
                            {{cls = 'error' if form.errors.documents else ''}}
                            <div class='control-group {{=cls}}' id='no_special_documents__row'>
                                <label for='no_table_documents' class='control-label'>
                                    {{=form.custom.label.documents}}
                                </label>
                                <div class='controls'>
                                    {{=form.custom.widget.documents}}
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions">
                    {{form.custom.submit.attributes['_class'] = 'btn btn-primary'}}
                    {{=form.custom.submit}}
                </div>
            </div>


        </div>
    </div>

{{=form.custom.end}}
<script language="javascript">
    $("form input:visible:enabled:first").focus();
</script>
<script>
    jQuery(document).ready(function(){
        $('#no_table_special_education').attr('class', $('#no_table_special_education').attr('class') + ' span4');
        $('#no_table_documents').attr('class', $('#no_table_documents').attr('class') + ' span4');
        $('#no_table_regime').attr('class', $('#no_table_regime').attr('class') + ' span4');
        $('#no_table_organic_unit').attr('class', $('#no_table_organic_unit').attr('class') + ' span5');
        $('#no_table_name').attr('class', $('#no_table_name').attr('class') + ' span3');
        $('#no_table_first_name').attr('class', $('#no_table_first_name').attr('class') + ' span3');
        $('#no_table_last_name').attr('class', $('#no_table_last_name').attr('class') + ' span3');
        $('#no_table_date_of_birth').attr('class', $('#no_table_date_of_birth').attr('class') + ' span4');
        $('#no_table_place_of_birth').attr('class', $('#no_table_place_of_birth').attr('class') + ' span5');
        $('#no_table_gender').attr('class', $('#no_table_gender').attr('class') + ' span3');
        $('#no_table_marital_status').attr('class', $('#no_table_marital_status').attr('class') + ' span3');
        $('#no_table_political_status').attr('class', $('#no_table_political_status').attr('class') + ' span3');
        $('#no_table_identity_type').attr('class', $('#no_table_identity_type').attr('class') + ' span4');
        $('#no_table_identity_number').attr('class', $('#no_table_identity_number').attr('class') + ' span5');
        $('#no_table_father_name').attr('class', $('#no_table_father_name').attr('class') + ' span3');
        $('#no_table_mother_name').attr('class', $('#no_table_mother_name').attr('class') + ' span3');
        $('#no_table_nationality').attr('class', $('#no_table_nationality').attr('class') + ' span3');
        $('#no_table_commune').attr('class', $('#no_table_commune').attr('class') + ' span3');
        $('#no_table_municipality').attr('class', $('#no_table_municipality').attr('class') + ' span3');
        $('#no_table_email').attr('class', $('#no_table_email').attr('class') + ' span3');
        $('#no_table_address').attr('class', $('#no_table_address').attr('class') + ' span9');
        $('#no_table_work_name').attr('class', $('#no_table_work_name').attr('class') + ' span3');
        $('#no_table_profession_name').attr('class', $('#no_table_profession_name').attr('class') + ' span3');
        $('#no_table_graduation_year').attr('class', $('#no_table_graduation_year').attr('class') + ' span2');
        $('#no_table_previous_school').attr('class', $('#no_table_previous_school').attr('class') + ' span4');
        $('#no_table_previous_career').attr('class', $('#no_table_previous_career').attr('class') + ' span5');
        $('#no_table_educational_attainment').attr('class', $('#no_table_educational_attainment').attr('class') + ' span3');
        $('#no_table_work_name__row').hide();
        $('#no_table_profession_name__row').hide();
        $( "#no_table_municipality" ).bind(
            "change",
            function() { ajax(
                "{{=URL('manage_general','get_communes')}}",
                ['municipality'],
                'no_table_commune'
            )}
        );
        $("#no_table_is_worker").change(function(){
            if( $(this).is(':checked') ){
                $('#no_table_work_name__row').fadeIn();
                $('#no_table_profession_name__row').fadeIn();
            }else{
                $('#no_table_work_name__row').fadeOut();
                $('#no_table_profession_name__row').fadeOut();
            }
        })
    });
</script>

