{{left_sidebar_enabled=True}}
{{right_sidebar_enabled=False}}

{{extend 'layout.html'}}

{{block center}}
{{include}}
{{end}}

{{block left_sidebar}}
<div class="row">
<p>
 <a class="btn btn-default btn-primary" href="{{=URL('candidates','add_candidate')}}">
     <i class="icon-plus icon-white"></i>{{=T("Add candidate")}}</a>
</p>
</div>
<div class="row">

<ul class="nav nav-pills nav-stacked">
    <li class="nav-header">{{=T('Candidates')}}</li>
    <li class="{{='active' if request.function == 'with_debts' else ''}}">
        <a href="{{=URL('candidates','with_debts')}}">{{=T('No inscritos')}}</a>
    </li>
</ul>

</div>
{{end}}
