{{left_sidebar_enabled=True}}
{{right_sidebar_enabled=False}}

{{extend 'layout.html'}}

{{block center}}
{{include}}
{{end}}

{{block left_sidebar}}
<div class="row">
<p>
 <a class="btn btn-default btn-primary" href="{{=URL('candidates','create')}}">
     <i class="icon-plus icon-white"></i>{{=T("Add candidate")}}</a>
</p>
</div>
<div class="row">
<div class='well'>
<ul class="nav nav-list">
    <li class="nav-header">{{=T('Candidates')}}</li>
    <li class="{{='active' if request.function == 'with_debts' else ''}}">
        <a href="{{=URL('candidates','with_debts')}}">{{=T('With debts')}}</a>
    </li>
</ul>
</div>
</div>
{{end}}
