{{left_sidebar_enabled=True}}

{{extend 'layout.html'}}

<div class="span12">
    <p>
        Configuración de las aulas para el examen de acceso de la asignatura <em>{{=db.asignatura(examen.asignatura_id).nombre}}</em>
    </p>
    <div class="alert">Número de estudianes a examinar: {{=candidaturas}}</div>
    {{=manejo}}
    <p class="text-right">{{=A(CAT(I('', _class='icon-chevron-left'),T('Regregresar')), _class="btn", _title=T("Regresar al listado de examenes"),
                     _href=URL('examen_acceso',
                               vars={'step':'3', 'uo_id':unidad_organica.id, 'e_id': evento.id}))}}</p>
</div>
