{{left_sidebar_enabled=True}}
{{from agiscore.gui.mic import * }}
{{extend 'layout.html'}}

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{=T("Exámenes de acceso")}}</h3>
                  </div>
                  <div class="panel-body">
                    {{=manejo}}
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{if 'resultados' in globals():}}
                    {{=resultados}}
                {{pass}}
            </div>
        </div>
    </div>
