{{left_sidebar_enabled=True}}

{{extend 'layout.html'}}

<div class="col-md-12">
    {{=form}}
    {{if step == '1':}}
        <script>
            $( "#no_table_dir_municipio_id" ).bind(
                "change",
                function() { ajax(
                    "{{=URL('tools','obtener_comunas')}}",
                    ['dir_municipio_id'],
                    'no_table_dir_comuna_id'
                )}
            );
            $( "#no_table_dir_provincia_id" ).bind(
                "change",
                function() { ajax(
                    "{{=URL('tools','obtener_municipios')}}",
                    ['dir_provincia_id'],
                    'no_table_dir_municipio_id'
                );
                ajax(
                    "{{=URL('tools','obtener_comunas')}}",
                    ['dir_municipio_id'],
                    'no_table_dir_comuna_id'
                );
                }
            );
        </script>
    {{pass}}

    {{if step=='2':}}
        <script>
            $( "#candidatura_tipo_escuela_media_id" ).bind(
                "change",
                function() { ajax(
                    "{{=URL('candidatura','obtener_escuelas_medias')}}",
                    ['tipo_escuela_media_id'],
                    'candidatura_escuela_media_id'
                )}
            );
            $( "#candidatura_unidad_organica_id" ).bind(
                "change",
                function() { ajax(
                    "{{=URL('candidatura','actualizar_regimenes')}}",
                    ['unidad_organica_id'],
                    'candidatura_regimen_unidad_organica_id'
                )}
            );
        </script>
    {{pass}}
</div>
