{{left_sidebar_enabled=True}}
{{right_sidebar_enabled=False}}

{{extend 'layout.html'}}

{{block center}}
{{include}}
{{end}}

{{block left_sidebar}}
<div class="well">
<ul class="nav nav-list">
    <li class="nav-header">{{=T('Security')}}</li>
    <li class="{{='active' if request.function == 'users' else ''}}">
        <a href="{{=URL('manage_security', 'users')}}">{{=T('Users')}}</a>
    </li>
    <li class="{{='active' if request.function == 'rols' else ''}}">
        <a href="{{=URL('manage_security', 'rols')}}">{{=T('Groups')}}</a>
    </li>
    <li class="{{='active' if request.function == 'membership' else ''}}">
        <a href="{{=URL('manage_security', 'membership')}}">{{=T('Assign roles')}}</a>
    </li>
    <li class="nav-header">{{=T('Audit')}}</li>
    <li class="{{='active' if request.function == 'logs' else ''}} disabled">
        <a href="{{=URL('manage_security', 'logs')}}">{{=T('Logs')}}</a>
    </li>
</ul>
</div>
{{end}}
